@rouge:#C90505;

@font-face {
    font-family: coco;
    src: url(CocogoosePro-trial.ttf);
}

@font-face {
    font-family: aurea;
    src: url(Aurea.otf);
}

body, html{
	min-height: 100vh;
	margin:0;
	font-family: 'aurea';
}
#connexion, #inscription{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    background: white;
        padding: 70px 30px;
    border-radius: 50px;
	form{
		display: flex;
		flex-direction: column;
		width: 273px;

		>div{
			display: flex;
			align-items: center;

			>p{
				margin:0;
			}
			>label{
				font-size: 1em;
			}
		}
	}

	a{
		text-decoration: none;
	    color: black;
	    margin-top: 20px;
	    border-bottom: red 1px solid;
	    font-size: 1.3em;
	    transition: 0.3s border-bottom;

	    &:hover{
	    	border-bottom: red 5px solid;
	    }
	}

	#sliderForm{
		height: 0px;
    	overflow: hidden;
    	transition: all 0.7s;
	}
	ul{
		list-style: none;
	    padding: 0;
	    text-align: center;
	    font-size: 1.2em;
	    li{
	    	padding: 10px 0px;
	    	cursor: pointer;
	    	&:hover{
	    		text-decoration:underline;
	    	}
	    }
	}
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
textarea{
    resize:none;
    overflow: hidden;
}

input[type="submit"]{
	border: none;
    padding: 0;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'aurea';
    background-color: @rouge;
    color: white;
    cursor: pointer;
    &:hover{
    	background-color:darken(@rouge,10%);
    }
}

input[type="file"]{
		display: none;
	}
#imgInpLabel {
		margin: auto;
		font-size: 0.8em;
	    cursor: pointer;
	    color: #00b1ca;
	    font-weight: bold;
	    padding: 20px 0px;
	    &:hover{
	    	color: #25a5c4;
	    	text-decoration: underline;
	    }
	}


header{
	background-color: @rouge;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin : 0;
	img{
		margin: 0;
		height: 50px;
		width: auto;
	}
	a{
		display: flex;
		font-size: 1.3em;
		align-items: center;
		height: 50px;
		background-color: darken(@rouge,10%);
		color: white;
		text-decoration: none;
		margin: 0;
		padding: 10px 20px;
		&:hover{
			background-color: darken(@rouge,20%);
		}
	}
	>div{
		position: relative;
		&:hover ul{
			max-height:500px;
		}
	}

	ul{
		padding: 0;
		list-style: none;
		margin: 0;
		position: absolute;
		z-index: 1000;
		max-height: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		transition: all 1s;
	}

	.header-img-a{
		background-color: @rouge;
	}
}
h1{
	text-align: center;
}

#formSerie{
	z-index: 1;
	background: white;
    padding: 70px 30px;
    border-radius: 50px;
	font-size: 1.5em;
	margin: 20px;
	label{
	    display: block;
    	text-align: center;
        flex-shrink: 0;
	}
	input{
		font-family: 'aurea';
		margin-bottom: 0;
	}
	select{
		font-family: 'aurea';
	}
	p{
		text-align: center;
	    flex-shrink: 0;
	}
	input[type="submit"]{
		margin: auto;
    	display: block;
	}
	>div{
		display: flex;
		align-items: center;
	}
	ul{
		list-style: none;
		padding:0;
		display: flex;
	    flex-wrap: wrap;
	    width: 378px;
	    justify-content: center;
		li{
			background-color: gainsboro;
		    padding: 10px;
		    border-radius: 20px;
		    margin: 10px 5px;
			label{
				display: block;
    			text-align: center;
			}
			input{
				width: 35px;
				
				width: 55px;
				font-size:1em;

			}
			>div{
			    display: flex;
    			align-items: baseline;
			}
		}
	}
}
/*****************index.php*********************/
.index, .user{
	position: relative;
	background: url('/img/bg.jpg');
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index{
	min-height: 100vh;
}

.user{
	min-height: calc(100vh - 70px);
}
.cache{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
	background-color: @rouge;
	opacity: 0.5;
}

/****************message d'alerte*******************/
.info, .success, .warning, .error, .validation {
	width: 60%;
	border: 1px solid;
	margin: 15px auto;
	padding:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}
.alert_pages{
    z-index: 1;
	margin-left: 20%;
}


/**BACKOFFICE**/


table {
    width:90%;
    margin: auto;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: @rouge;
    color: white;
}

/****************user.php*******************/
.series{
	height: auto;
	width: 15%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	.series-img{
		position: relative;
		border: 1px solid black;
		border-radius: 3%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 260px;
		img{
			height: auto;
			width: 100%;
		}
		.series-titre{
			position: absolute;
			a{
				font-size: 1.6em;
				text-align: center;
				color: white;
				margin: 0;
				z-index: 19;
				text-decoration: none;
				text-transform: uppercase;
			}
			h3{
				font-size: 2.6em;
				color: white;
			}
			.series-modif{
				a{
					display: inline-block;
					width: 20%;
					font-size: 1.3em;
					text-align: center;
					color: black;
					margin: 20px;
					z-index: 19;
					i{
						background: white;
						border-radius: 50%;
						padding: 5px;
					}
				}
			}
		}
	}
}
.series-cache{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: inherit;
	background-color: @rouge;
	opacity: 0.5;
}

.ajout-cache{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: inherit;
	background-color: @rouge;
}

.series-plus{
	background: green;
	border-radius: 50%;
	padding: 5px;
}

.profilImg{
	width: 50px;
	height: 50px;
	background-image: url('#');
	background-position: center;
	background-size: cover;
	border: 2px solid black;
	border-radius: 90px;
	margin: auto;

	header &{
		margin-left: 20px;
	}
}
/****************series.php*******************/
#series-contenu{
	z-index: 1;
	background: white;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
}
#series-titre{
	text-transform: uppercase;
	font-size: 3em;
}
#series-list{
	margin: auto;
	width: 900px;
	padding: 20px;
	.progress-bar{
		margin-bottom: 20px;
		height: 10px;
		width: 100%;
		background: black;
	}
	#series-img{
		width: 300px;
		height: 400px;
		display: inline-block;
	}
	#series-liste{
		width: 300px;
		float: right;
	    height: 300px;
	    vertical-align: top;
	    display: inline-block;
	    border: 1px solid black;
	    border-radius: 3px;
	    padding: 10px;
	    overflow-y: scroll;
		ul{
			list-style: none;
			padding: 0;
			li{
				a{
					padding: 10px 0px;
					display: block;
					text-align: center;
					text-decoration: none;
					font-size: 1.5em;

				}
			}
		}
	}
}

.episodeList{
	padding: 10px;
}

.vu{
	background-color: green;
	border-bottom: 1px solid black;
	p:first-child{
	    width: 30%;
	    margin: 0;
	    display: inline-block;
	}
	p:last-child{
		text-align: right;
	    width: 70%;
	    margin: 0;
	    display: inline-block;
		i{
			color: white;
		}
	}
	
}

.pasVu{
	background-color: red;
	border-bottom: 1px solid black;
	p:first-child{
	    width: 30%;
	    margin: 0;
	    display: inline-block;
	}
	p:last-child{
		text-align: right;
	    width: 70%;
	    margin: 0;
	    display: inline-block;
		i{
		}
	}
}
#liste{
	ul{
		list-style: none;
		padding: 0;
		li{
			a{
				padding: 10px 0px;
				display: block;
				text-align: center;
				text-decoration: none;
				font-size: 1.5em;

			}
		}
	}
}
